{% extends "main.html" %}
{%block content%}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Admin | Dashboard</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">   
  <link href="jqvmap/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />   
  <link rel="stylesheet" href="css/softech_main.css">
  <link rel="stylesheet" href="amChart/style.css">
</head>
<body>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="logo" href="banner-03.png">
           <img src="banner-03.png" style="height: 100px;" alt="Logo"> 
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> 
      </div>   
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse SofTech-sidebar">
        <ul class="SofTech-sidebar-menu">
          <li>
            <form class="navbar-form">
              <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
              <span class="btn btn-default">Go</span>
            </form>
          </li>
          <li><a href="index.html"><i class="fa fa-home"></i>Dashboard</a></li>
          <li><a href="data-visualization.html"><i class="fa fa-cubes"></i><span class="badge pull-right">9</span>Data Visualization</a></li>
          <li class="active"><a href="#"><i class="fa fa-map-marker"></i><span class="badge pull-right">42</span>Maps</a></li>
          <li><a href="tables.html"><i class="fa fa-users"></i><span class="badge pull-right">NEW</span>Manage Users</a></li>
          <li><a href="preferences.html"><i class="fa fa-cog"></i>Preferences</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Sign Out</a></li>
        </ul>
      </div>

      <div class="SofTech-content-wrapper">
        <div class="SofTech-content">
          <ol class="breadcrumb">
            <li><a href="index.html">Admin Panel</a></li>
            <li><a href="#">Maps</a></li>
            <li class="active">Location</li>
          </ol>
          <div class="SofTech-maps">
            <div class="row">

              <div class="col-md-6 col-sm-6 margin-bottom-30">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">World</h4>
                  </div>
                  <div class="panel-body">
                    <div id="vmap_world" class="vmap"></div>
                  </div>
                </div>                
              </div>
              
              <div class="col-md-6 col-sm-6 margin-bottom-30">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">India</h4>
                  </div>
                  
                  <div id="chartdiv"></div>
                  
                </div>  
              </div>
            </div>
            <div class="row">
              
              <div class="col-md-6 col-sm-6 margin-bottom-30">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">Asia</h4>
                  </div>
                  <div class="panel-body">
                    <div id="vmap_asia" class="vmap"></div>
                  </div>
                </div>  
              </div>
              <div class="col-md-6 col-sm-6 margin-bottom-30">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">United States of America</h4>
                  </div>
                  <div class="panel-body">
                    <div id="vmap_usa" class="vmap"></div>
                  </div>
                </div>  
              </div>
            </div>

          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
              </div>
              <div class="modal-footer">
                <a href="sign-in.html" class="btn btn-primary">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>

      </div>
	</div>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/templatemo_script.js"></script>
      <script src="jqvmap/jquery.vmap.js" type="text/javascript"></script>
      <script src="jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
      <script src="jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
      <script src="jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
      <script src="jqvmap/maps/jquery.vmap.india.js" type="text/javascript"></script>
      <script src="jqvmap/maps/continents/jquery.vmap.asia.js" type="text/javascript"></script>
      

      <script src="https://www.amcharts.com/lib/4/core.js"></script>
      <script src="https://www.amcharts.com/lib/4/maps.js"></script>
      <script src="https://www.amcharts.com/lib/4/geodata/india2019High.js"></script>
      <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
      <script  src="amChart/script.js"></script>

      <script type="text/javascript">
        $(document).ready(function() {

          $('#vmap_world').vectorMap({
            map: 'world_en',
            backgroundColor: '#ffffff',
            color: '#333',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#C8EEFF', '#006491'],
            normalizeFunction: 'polynomial'
          });
          $('#vmap_usa').vectorMap({
            map: 'usa_en',
            enableZoom: true,
            showTooltip: true,
            selectedRegion: 'MO'
          });
          $('#vmap_asia').vectorMap({
            map: 'asia_en',
            backgroundColor: '#ffffff',
            color: '#333333',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#C8EEFF', '#006491'],
            normalizeFunction: 'polynomial'
          });
          
          $('#vmap_india').vectorMap({
            map: 'india_en',
            backgroundColor: '#ffffff',
            color: '#333333',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#C8EEFF', '#006491'],
            normalizeFunction: 'polynomial'
          });
        });
</script>
</div>
</body>
</html>

{%endblock content%}